<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Login</h1>
        <form method="post">
            {% csrf_token %}
            {% if not error %}
            <p style="color: red">Incorrect Login Creditials</p>
            {% endif%}
            <p>Email:<br>
                {{ form.email }}
            </p>
            <p>or</p>
            <p>Username:<br>
                {{ form.username }}
            </p>
            <p>Password:<br>
                {{ form.password }}
            </p>
            <button type=submit>Login</button>
        </form>
        <p>Or <a href='/signup'>Signup</a></p>
    </body>
</html>
