body {
    background-color: ivory;
}

#title {
    text-align: center;
}

h2 {
    text-align: center;
}

form {
    text-align: center;
    width: 70%;
    margin: auto;
}

div.search {
    width: 80%
}

input {
    width: 300px;
    margin: 0 auto;
}

label {
    margin-left: 10%;
    float: left;
}

 div.wrapper {
    margin: auto;
}

input.check {
    float: left;
    margin-top: 5px;
    width: 60px;
}

input.submit, button {
    width: 50px;
    background-color: #F8F8FF;
    border-style: solid;
    border-width: 0.5px;
}

p.nav {
    text-align: center;

}

.nav a {
    margin-right: 30px;
}

div.record {
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    width: 70%;
    height: 100px;
    margin: auto;
    background-color: white;
}

.record table {
    margin: 0px;
    height: 100%;
}

.record img {
    float: left;
}

div.search {
    margin: auto;
}







